  drkg.tar.gz              
  drkg.tsv                                                                                                          
  drkg_with_headers.tsv                                     
  embed/                                                                                                            
  entity2src.tsv                                            
  infer_drug.tsv
  relation_glossary.tsv
  alzheimers_top100_predictions.tsv
  ._*                              
  __pycache__/                                                                                                      
  *.pyc       
  *.npy                                                                                                             
  *.tsv.gz                                                  